@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #333;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Debe estar por debajo de los elementos HTML */
}

h1 {
  color: #fff;
  text-shadow: 0 0 10px #f70df7,
    0 0 20px #f70df7;
  font-size: 2rem;
}

header {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #441253cc; */
  text-align: center;
  z-index: 5;
}

header svg {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  width: 100%;
  height: 100px;
  filter: drop-shadow(0 0 10px #572869);
}

.title {
  position: relative;
  top: 1.5rem;
  z-index: 10;
}

.btn-order {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  padding: .5rem;
  z-index: 10;
}